
    .cardG{

    display: flex;
    width: 1200px;



    .divimg{

        display: flex;
        padding: 10px;
        
            .img{


                display: flex;
            }

            .divnome{


                display: flex;
                flex-direction: column;
                
              .nome{

                margin: 10px 0;

              }
                
            }


    }

























}